<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Metadata and window title-->
        <title>Weather Discover</title>
        <meta charset="UTF-8">
        <meta name="description" content="Weather Discover is a web-based API integration that returns location weather data from coordinates.">
        <meta name="keywords" content="Weather, Weather Discover, API, Blog, England">
        <meta name="author" content="Benjamin O'Connor">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1><a href="#">Weather Discover</a></h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
        {% block content %}
        {% endblock %}

    </body>
</html>

